# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/TransnetWeb/FileContentIndex/262f279d-988e-4b4b-aa57-46c4855d5da9.vsidx
/.vs/TransnetWeb/FileContentIndex
